<div class="container">
<h3>Watcher</h3>
<p>
Admin interface for configuration and management

The purpose of this document is to describe the requirement for watcher the management interface.

Watcher is a generic UI management tool that can work on distributed system to manage and distribute
configuration as well as monitor and manage operations.<br>
Watcher will depend on the following configuration details.
</p>
<ul>
    <li>Application management rest interface</li>
    <li>Application deployment server</li>
    <li>Application path</li>
    <li>Server credentials</li>
    <li>Server credentials</li>
    <li> Configuration type (yaml / properties)</li>

</ul>

</div>